body {
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
}

.weather-header {
  background-color: #343a40;
}

.form-label,
.form-input,
.search-button {
  margin: 10px 0;
}

#history .list-group-item {
  cursor: pointer;
  background-color: #007bff; /* Added blue color for list items */
  color: white; /* White text for better contrast */
}

#history .list-group-item:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
}

#today {
  background-color: #007bff; /* Blue color for the current weather */
  color: white; /* White text for better contrast */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* search button styling */
#search-button {
  background-color: blue;
  color: white;
  margin: auto 2px;
}

/* Styling for the 5-day forecast */
#forecast .col-md-2 {
  background-color: #007bff; /* Blue color for forecast days */
  margin-right: 10px; /* Spacing between forecast days */
}

#forecast {
    margin-top: 20px;
}

#forecast h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
}

.col-md-2 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .col-md-2{
        flex: 0 0 100%;
        max-width: 100%;
    }
}